// Specific CSS for your home-page


#home-image {
  background-image: url(sahara_two_copy.jpeg);
  height: 75vh;
  background-attachment: fixed;
  background-size: cover;
}

.nav-item-home2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    // flex-direction: column;
}
.book-search-home {
  width: 500px;
  // justify-content: center;
  // align-items: center;
}

// .btn-outline-warning{
//   color: brown;
//   border-color: black;
// }


.no-white-box {
  margin: auto !important;
  overflow: hidden;
  max-height: 100vh;
}
