// Specific CSS for your home-page


#home-image {
  background-image: url(images/sahara_two.png);
  height: 70vh;
}

.nav-item-home2{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  // flex-direction: column;
}
.book-search-home {
  width: 500px;
  // justify-content: center;
  // align-items: center;
}

// .btn-outline-warning{
//   color: brown;
//   border-color: black;
// }
