<h1>Orders#index</h1>
<p>Find me in app/views/orders/index.html.erb</p>

<h2>All Orders</h2>

<% @orders.each do |order| %>
  <p>Name: <%= order.name %></p>
  <p>Email: <%= order.email %></p>
  <p>Basket Items: </p>
  <ul>
    <% order.basket_items.each do |item| %>
    <li><%= item.quantity %> x <%= item.physical_book.name %></li>
    <% end %>
  </ul>
<% end
