<div class="orders">


<% @orders.each do |order| %>
<div class="order-container">

<div class="order-description">
<div class="order-box">
<h5> Order number: <%= order.id %> </h5>
</div>
</div>
 <%  order.basket_items.each do |basket| %>

 <div class="order-overview">



<div class="left-box">
  <%= image_tag(basket.physical_book.book.photo, class: "book-image")%>
  </div>
  <div class="center-box">
    <ul><%= basket.physical_book.book.title %>
    </ul>
  </div>
  <div class="right-box">

  <div class="item-one">
  </div>

  <div class="item-two">
  </div>
  </div>
</div>
 <% end %>
<% end %>
</div>
</div>
