<h2>All Orders</h2>

<% @orders.each do |order| %>
  <p>Email: <%= order.user.email %></p>
  <p>price: £<%= order.total_price %></p>
  <p>Basket Items: </p>
  <ul>
    <% order.basket_items.each do |item| %>
      item.title
    <% end %>
  </ul>
<% end %>
