<div id="home-image">
   <div class="nav-item-home2">
      <%= form_with url: books_path , method: :get, class: "book-search-home input-group", html: { autocomplete: "off" } do %>
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          id: "search-bar-home",
          placeholder: "Search for a book..."
        %>
        <%= button_tag(type: "submit", class: "btn btn-warning", id:"button-search") do %>
            <i class="fa-solid fa-magnifying-glass"></i>
          <% end %>
        <% end %>
    </div>
</div>
