<div class="specific-marker">
  <div class="content-marker">
    <h4><%= bookstore.name %></h4>
    <a href="http://maps.google.com/?q=<%= bookstore.address %>" target="_blank"><button class="button-path" role="button"><i class="fa-solid fa-route"></i>How to get there</button></a>


  </div>
</div>
