<div class="specific-marker">
    <h6 id="content-marker"><%= bookstore.name %></h6>
    <a id="link-address" href="http://maps.google.com/?q=<%= bookstore.address %>" target="_blank"><button class="button-address" title="role="button"><i class="fa-solid fa-route"></i>How to get there</button></a>
</div>
