<div class="specific-marker">
  <img src="https://bookgivedenver.org/wp-content/uploads/2020/05/note-book-red-sand-dune-desert-24373244.jpg">
  <div class="content-marker">
    <h3><%= bookstore.name %></h3>
    <p><%= bookstore.address %></p>
  </div>
</div>
