<div class="book-filters">
    <div class="filter-options">
      <h4>Filter by</h4>
      <h5>Genre</h5>
        <div class="sub-option-container">
          <p>Classic</p>
          <p>Adventure</p>
          <p>Science Fiction</p>
          <p>Fantasy</p>
          <p>Non-fiction</p>
          <p>Fiction</p>
          <p>Childrens</p>
        </div>
      <h5>Year</h5>
        <div class="sub-option-container">
          <div class="slidecontainer">
            <input type="range" min="1" max="100" value="50" class="slider" id="myRange">
          </div>
        </div>
      <h5>Condition</h5>
        <div class="sub-option-container">
          <p>Mint</p>
          <p>Near Mint</p>
          <p>Very good</p>
          <p>Good</p>
          <p>Poor</p>
        </div>
    </div>
  </div>
