<div class="index-wrapper2">
  <div class="list-container2">
  <br>
   <%= render partial: '/books/book_info' %>
   </div>
   <%= render partial: '/layouts/map' %>
</div>

<%= render partial: '/physical_books/physical' %>
