<div class="one-more-wrapper">
  <div class="index-wrapper2">
    <%= render partial: '/books/book_info' %>
    <%= render partial: '/layouts/map' %>
  </div>
</div>
<%= render partial: '/physical_books/physical' %>
