<div class="index-wrapper2">
  <div class="list-container2">
  <br>
   <%= render partial: '/books/book_info' %>
   </div>
</div>

<%= render partial: '/physical_books/physical' %>

<%= button_to "Add to cart", line_items_path(:product_id => product.id) %>
