<div class="basket-box">
  <% cart.basket_items.each do |basket_item| %>
    <div class="basket-item">
      <div class="remove-button">
        <a id="no-no-bootstrap">x</a>
      </div>
      <div class="d-flex">
        <p><%= basket_item.physical_book.book.title %></p>
        <p>£<%= basket_item.physical_book.price %></p>
      </div>
    </div>
    <hr>
  <% end %>
</div>
<div class="d-flex">
  <button class="btn btn-success">Continue Shopping</button>
  <button class="btn btn-primary">Go To Checkout</button>
</div>
