<div class="w404 wrapper">
  <div class="box404">
    <h1 id="e404">500</h1>
    <p class="p404">Sorry, it's me, not you.</p>
    <p class="p404">&#58;&#40;</p>
    <p class="p404"><a href="/">Let me try again!</a></p>
  </div>
</div>
