.index-wrapper{
  display: flex;
  padding: 10px 0 10px 0;
}

.list-container {
  display:flex;
  flex-direction: column;
  width: 60vw;
  margin: 0 50px;
}

.book-container{
  display: flex;
  width: 100%;
  padding: 10px;
  background-color: rgb(200, 200, 200);
  align-items: center;
  border-radius: 10px;
  margin: 5px 0;
}


.book-image {
  width: 150px;
}

.info-and-price {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.book-info-group-left {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.book-info-group-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 20px;
}


.book-filters {
  width: 25vw;
  margin: 0 50px;
  display: flex;
  flex-direction: column;
  background-color: rgb(200, 200, 200);
  position: sticky;
  right: 0;
  overflow-y: scroll;
  height: 94vh;
  top: 20px;
  bottom :20px;
}

.filter-options {
  margin-left: 20px;
  padding: 20px;
}

.sub-option-container {
  margin-left: 10px;
}

#plain-anchor {
  text-decoration: inherit;
  color: inherit;
}
