.index-wrapper{
  display: flex;
  padding: 10px 150px 10px 150px;
  background-color: #f5f5f5;

}

.list-container {
  display:flex;
  flex-wrap: wrap;
  width: 65vw;
}

.book-container{
  display: flex;
  flex-direction: column;
  width: 80%;
  align-items: center;
  margin: 5px 0;
}

.book-image {
  width: 150px;
  height:200px;
  margin: 10px 10px;
  box-shadow:rgba(0,0,0,0.2) 0 0 10px,
  rgba(0, 0, 0, 0.24) 0px 3px 8px,
  rgba(0,0,0,0.35) 2px 4px 4px -1px;
  background-size: cover;
  background-position: center;
  border-radius: 5px;
  transition: transform .3s; // Animation
}

.book-image:hover {
  transform: scale(1.05);
}

.info-and-price {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.book-info-group-left {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.book-info-group-right {
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  padding: 0 20px;
}


.book-filters {
  width: 20vw;
  margin: 15px 30px;
  display: flex;
  flex-direction: column;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: sticky;
  right: 0;
  // overflow-y: scroll;
  height: fit-content;
  // max-height: 94vh;
  // height: 94vh;
  // max-height: min-content;
  // max-height: fit-content;
  top: 20px;
  bottom :20px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}


.sub-option-container {
  margin-left: 10px;
}

#plain-anchor {
  text-decoration: inherit;
  color: inherit;
}

// .scrollable {
//   position: sticky;
//   // max-height:94vh;
//   overflow-y:scroll;

// }

.input-year {
  max-width: 100px;
}


.filter-options {
  width: 100%;
  padding: 20px 20px 20px 20px;
  font-family: 'Open Sans', sans-serif;
  background-color: #f5f5f5;
}
