.one-more-wrapper{
  display: flex;
  padding: 10px 0 10px 0;
  width: 100vw;
}

.index-wrapper2 {
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  width: 100%;
  display: flex;
}

.book-container2 {
  display: flex;
  flex-direction: column;
  height: 100vh;
  position: sticky;
  width: 50%;
  border-left: 5px;
  padding: 5px 0 5px 0;
  overflow-y: scroll;
  background-color: #FCFCFC;
  font-family: 'Lucida Sans'
}
.d-flex{
  margin: 15px 10px;
}

.book-image2 {
  width: 200px;
  height: 282px;
  margin-left: 20px;
  border-radius: 3px;
  box-shadow: 1px 3px 10px rgba(0,0,0,0.2),
  1px 2px 7px rgba(0,0,0,0.6);
}

.info-and-price2 {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.book-info-group-left2 {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
  justify-content: space-around;
  background-color: #FCECDD;
  border-radius: 5px;
  box-shadow: 1px 1px 7px rgba(0,0,0,0.2);
}

.book-info-group-right2 {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}
#book-info-group-title {
  text-align: center;
  font-family: Helvetica;
  lighting-color: white;
  text-shadow: 0px 0px 4px whitesmoke;

}

.sub-option-container2 {
  margin-left: 10px;
}

.info-btn-flat {
  display: flex;
  color: #2D2D2D;
  padding: 8px 8px 8px 24px;
  border-radius: 4px;
  background: #FEA82F;
  transition: background 0.3s ease;
  width: 200px;

}

.info-btn-flat:hover {
  background: #FF6701;
  color: white;
}

.mapbox-map {
  padding: 10px;
  width: 50%;
  position: relative;
  background-color: #FCFCFC;
}

.map-itself {
  width: 100%;
  height:100%;
}
