.basket-parent {
  position: relative;
}

#basket-box{
  width: 300px;
  position: absolute;
  background-color: white;
  border: 1px solid black;
  left: auto !important;
  right: 0px;
}

.basket-item{
  width: 100%;
  display:flex;
  flex-direction: column;
  padding:10px;
}

.basket-item:hover{
  div{
    #no-no-bootstrap {
      visibility: visible;
      cursor: pointer;
    }
  }
}

.remove-button {
  display: flex;
  justify-content: flex-end;
}

#no-no-bootstrap {
  visibility: hidden;
  font-size: 9px;
  background: red;
  padding: 3px;
  border-radius: 3px;
  color: white;
  width: 18px;
  text-align: center;
  text-decoration: none
}

.physical-book-bookstore{
  margin-left: 20px;
}
