.basket-parent {
  position: relative;
  margin-right:10px;
}

#basket-box{
  width: 300px;
  padding: 10px 10px 10px 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  position: absolute;
  background-color: white;
  left: auto !important;
  right: 0px;
  border-radius: 4px;
  font-family: 'Open Sans', sans-serif;

}

.basket-item{
  width: 100%;
  display:flex;
  flex-direction: column;
  padding: 0 10px;
  hr{
    width:100%
  }
}

#no-no-bootstrap {
  visibility: hidden;
  font-size: 9px;
  background: red;
  padding: 3px;
  border-radius: 3px;
  color: white;
  width: 18px;
  text-align: center;
  text-decoration: none;
  margin-bottom: 5px;
}

.basket-item:hover{
  .remove-button{
    #no-no-bootstrap {
      visibility: visible;
      cursor: pointer;
    }
  }
}

#payment-physical-book{
  div{
    #no-no-no-bootstrap {
      visibility: visible !important;
      cursor: pointer;
      background: red;
      padding: 3px;
      border-radius: 3px;
      color: white;
      width: 18px;
      text-align: center;
      text-decoration: none;
      margin-bottom: 5px;
      height: 25px;
      // background: white;
    }
  }
}

.remove-button {
  display: flex;
  justify-content: flex-end;
}



.individual-basket-item {
  display:flex;
  justify-content: space-between;
  p {
    margin:auto !important;
  }
}

#checkout-buttons-left{
  color: #413F42;
  padding: 8px 24px;
  border-radius: 4px !important;
  font-weight: 600;
  background: linear-gradient(#ffb366, #ff8d19);
  font-family: 'Open Sans', sans-serif;
  --bs-btn-border-color: unset;
  margin-right: 2px;





}
#checkout-buttons-right{
  color: #413F42;
  padding: 8px 24px;
  border-radius: 4px !important;
  font-weight: 600;
  background: linear-gradient(#ffb366, #ff8d19);
  font-family: 'Open Sans', sans-serif;
  background-color: unset;
  --bs-btn-border-color: unset;
  margin-left: 2px;


}
.checkout-buttons{
  width:50%;
  font-family: 'Open Sans', sans-serif;
}

#checkout-buttons-left:hover {
  background: linear-gradient(45deg, #ff8d19, #ffb366);
  color: #262626;
}

#checkout-buttons-right:hover {
  background: linear-gradient(45deg, #ff8d19, #ffb366);
  color: #262626;
}
