#content-marker {
  display: flex;
}

h6 {
  padding: 5px;
  text-align: left;
}

.fa-route {
  padding-right: 6px;
}

.button-address {
  background-color: whitesmoke;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  color: #3c4043;
  cursor: pointer;
  font-family: arial,sans-serif;
  height: 22px;
  text-align: center;
  touch-action: manipulation;
  white-space: pre;
}

.button-address:hover {
  border-color: whitesmoke;
  box-shadow: rgba(0, 0, 0, .1) 0 1px 1px;
  color: #202124;
}

.button-address:focus {
  border-color: #0E0000;
  outline: none;
}
