.info-list-results {
  background-color: #FCECDD;
}
.physical-book-bookstore {
  color: #FEA82F;
  transition: color .9s ease-in-out;
}
em:hover {
  color: #FF6701;
  lighting-color: white;
  text-shadow: 0px 0px 4px white;
}

.basket {
  color: #FF6701;
  border-radius: 50%;
}
button_to {
  color: #FF6701;
}
.bookstore-name {
  color: black;
}
