.mapbox-map {
  width: 50vw;
  background-color: #FCFCFC;
  padding:5px;
}

.mapboxgl-popup {
  max-width: 200px;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
