.mapbox-map {
  position: relative;
  width: 50vw;
  height: 78vh;
  border-top: 5px;
  padding: 16px 40px;
  background-color: #FCFCFC;
}

.mapboxgl-popup {
  max-width: 200px;
}

.map-itself {
  width: 100%;
  height:100%;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
}
