.navbar-lewagon {
  justify-content: space-between;
  // background: white;
  background: #FCECDD;
  height: 60px !important;
  align-items: center;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand {
  position:relative;

}
.navbar-lewagon .navbar-brand img {
  width: 60px;
}


.nav-item {
  // Search bar size, position
  flex: 0.4;
  display: inline-flex;
  align-items: center;
  // position: absolute;

}

.brand-title{
  font-weight:lighter;
  position: absolute;
  left: 100%;
  bottom: 8px;
}
#bigbar{
  width: 35vw;
  margin-left:70px;
}

#search-bar {
  border-radius: 30px 0px 0px 30px;
}

#search-bar-home{
  border-radius: 30px 0px 0px 30px;

// background: linear-gradient(99deg, rgba(252,236,221,1) 10%, rgba(255,194,136,1) 57%, rgba(254,168,47,1) 100%);


}

#button-search {
  border-radius: 0px 30px 30px 0px;
}

// background: linear-gradient(0deg, rgba(252,211,93,1) 0%, rgba(221,151,0,1) 100%);

.button .btn .btn-secondary .dropdown-toggle{
  background-color: #FF6701 !important;
}

.user-image {
  margin-right:10px;
}
