.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 60px;
}


.nav-item {
  // Search bar size, position
  flex: 0.4;
  display: inline-flex;
  align-items: center;
  // position: absolute;

}

.brand-title{
  font-weight:lighter;
}

.button .btn .btn-secondary .dropdown-toggle{
  background-color: #FF6701 !important;
}
