
<footer>
  <div class="footer-content mt-3">
      <p>You are sure to find your favourite book in your nearest bookstore.</p>
      <ul class="socials">
          <i class="fa-brands fa-facebook"></i>
          <i class="fa-brands fa-twitter"></i></a></li>
          <i class="fa-brands fa-google-plus"></i></a></li>
          <i class="fa-brands fa-youtube"></i></a></li>
          <i class="fa-brands fa-linkedin-square"></i></a></li>
      </ul>
  </div>
