<%# map definition %>
<div style="width: 100%; height: 600px;"
  data-controller="map"
  data-map-markers-value="<%= @markers.to_json %>"
  <%# I need to add acces token (created in mapbox) in .env %>
  data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"></div>
